.overlay{
    position: absolute;
    left: 0;
    top: 0;
}
.overlay__container{
    padding: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 85%);
}