.channel{
    --header-height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.channel__header{
    padding: 15px 20px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.channel__icon{
    height: 100%;
    width: 70px;
    border-radius: var(--radius-rounded);
    background-color: #fff;
}